@import "tailwindcss";

:root {
  --primary-blue: #3478C7;
  --secondary-green: #4CAF50;
  --accent-amber: #FF9800;
  --bg-canvas: #F9F9F9;
  --text-slate: #263238;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
